body{
  background: #000;
}



@media (max-width: 576px) {
  .table-width {
    width: 100% !important;
  }
  .container {
    width: 100% !important;
  }
  .table th,
  .table td {
    border-top: none !important;
    padding: 5px 2px !important;
  }
  select option {
    font-size: 10px;
  }
}





